<p><%= paragraph.body %></p>

<p>
  <!-- like/unlike button -->
  <% if current_user.voted_for? paragraph %>
    <%= link_to "Unlike", paragraph_unlike_path(paragraph), method: :post %>
  <% else %>
    <%= link_to "Like", paragraph_like_path(paragraph), method: :post %> 
  <% end %>

  <!-- like count -->
  <% if paragraph.votes_for.count > 0 %>
    (<%= paragraph.votes_for.count %>)
  <% end %>

  <% if paragraph.comments.count > 0 %>
    <%= render partial: "paragraphs/comment", collection: paragraph.comments %>
  <% end %>

  <% if current_user %>
    <%= form_for @comment, url: paragraph_comment_path(paragraph) do |f| %>
      <%= f.label :comment %>
      <%= f.text_area :comment %>
      <%= f.submit "Submit" %>
    <% end %>
  <% end %>

</p>