<div class="row">

  <div class="small-6 large-7  columns">
    <p><%= paragraph.body %></p>
      <!-- like/unlike button -->
  </div>

  <div class="small-6 large-4 large-offset-1 columns">
    <% if paragraph.comments.count > 0 %>
      <%= render partial: "paragraphs/comment", collection: paragraph.comments %>
    <% end %>

    <% if current_user %>
      <%= form_for @comment, url: paragraph_comment_path(paragraph) do |f| %>
        <%= f.text_area :comment, rows: "8", placeholder: "Add comment" %>
        <%= f.submit "Submit", class: "button tiny" %>
      <% end %>
    <% end %>

    <div id="<%= paragraph.id %>-like">
    <% if current_user.voted_for? paragraph %>
      <%= render partial: "paragraphs/unlike", locals: { paragraph: paragraph } %>
    <% else %>
      <%= render partial: "paragraphs/like", locals: { paragraph: paragraph } %>
    <% end %>
    </div>
  </div>

</div>





