<div class="row">

  <div class="small-1 large-1 columns">
    <div id="<%= paragraph.id %>-like">
      <% if current_user.voted_for? paragraph %>
      <!-- the ajax renders these partials also -->
      <%= render partial: "paragraphs/unlike", locals: { paragraph: paragraph } %>
      <% else %>
      <%= render partial: "paragraphs/like", locals: { paragraph: paragraph } %>
      <% end %>
    </div>
  </div>

  <div class="small-6 large-6  columns">
    <p><%= paragraph.body %></p>
    <!-- like/unlike button -->
  </div>

  <div class="small-5 large-4 large-offset-1 columns">
    <div id="<%= paragraph.id %>-comments %>">
      <% if paragraph.comments.count > 0 %>
      <%= render partial: "paragraphs/comment", collection: paragraph.comments %>
      <% end %>
    </div>
    <a href="#" class="js-show-hide" data-selector="<%= paragraph.id %>-comment-form">Add Comment</a>
    <div class="<%= paragraph.id %>-comment-form hide">
      <%= render partial: "paragraphs/comment_form", locals: { paragraph: paragraph } %>
    </div>
  </div>


</div>





