<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <title><%= content_for?(:title) ? yield(:title) : "Harvard School of Vengeance" %></title> 


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
      <nav class="top-bar">
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "Harvard School of Vengeance", root_path %></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li class= "has-form">
              <%= link_to "Post Story", new_story_path, class: 'button', style: "margin-top: 8px" %>
            </li>
            <li class="divider"></li>
            <% if current_user %>
              <li>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign Up", new_user_registration_path %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to "Sign In", new_user_session_path %>
              </li>
            <% end %> 
          </ul>
        </section>
      </nav>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>